<ion-view title="Cloud Tab Default Page" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="cloudTabDefaultPage-form1" class="list bg-black">
      <h1 id="cloudTabDefaultPage-heading2" style="color:#000000;">Heading</h1>
      <ion-toggle toggle-class="toggle-positive" id="cloudTabDefaultPage-toggle1">Toggle</ion-toggle>
    </form>
    <div id="cloudTabDefaultPage-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="cloudTabDefaultPage-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>